<h1>Lotka Volterra</h1>

<%=
case @entity do
  :vegetation -> live_component @socket, ThundermoonWeb.LotkaVolterraLive.NewVegetation, id: "vegetation"
  :herbivore -> live_component @socket, ThundermoonWeb.LotkaVolterraLive.NewHerbivore, id: "herbivore"
end
%>
