<h1>Lotka Volterra</h1>

<%=
case @entity do
  :vegetation -> live_component @socket, NewVegetation, id: "vegetation"
  :herbivore -> live_component @socket, NewHerbivore, id: "herbivore"
  :predator -> live_component @socket, NewPredator, id: "predator"
end
%>
