<.main_title>Lotka Volterra</.main_title>
<.live_component :if={@entity == :vegetation} module={VegetationForm} id="vegetation" />

<.live_component
  :if={@entity == :herbivore}
  module={HerbivoreForm}
  id="herbivore"
  vegetation={@vegetation}
/>

<.live_component
  :if={@entity == :predator}
  module={PredatorForm}
  id="predator"
  vegetation={@vegetation}
  herbivore={@herbivore}
/>
