#grid {
  display: grid;
  grid-auto-rows: 1fr;
  border-bottom: 1px solid black;
  border-left: 1px solid black;

  div {
    border-top: 1px solid black;
    border-right: 1px solid black;

    &.alive {
      background: black;
    }
  }

}
