body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  width: 100%;
  background: #fdfdfd;
  border-top: 1px solid #eaeaea;
  padding: 2rem 0rem;
}

.vertical-align-middle {
  vertical-align: middle;
}

.github-logo, .avatar {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.button-icon {
  padding: 0 3.0rem 0 2.0rem;
  i {
    vertical-align: middle;
  }
}

.button-warning {
  color: darken($color-warning, 40%);
  background-color: $color-warning;
  border-color: $color-warning;
}

.avatar-big {
  width: 150px;
  height: 150px;
  padding: 10px;
  border: solid 1px #ddd;
  background-color: #fff;
  box-shadow: 0 1px 15px rgba(27, 31, 35, .15);
  -moz-box-shadow: 0 1px 15px rgba(27, 31, 35, .15);
  -webkit-box-shadow: 0 1px 15px rgba(27, 31, 35, .15);
  -o-box-shadow: 0 1px 15px rgba(27, 31, 35, .15);
  border-radius: 150px;

  img {
    border-radius: 100%;
  }
}
