<div>
  <Actions.box>
    <%= start_button("start-counter-button", @started) %>

    <%= if can?(@current_user, :reset) do %>
      <%= link to: "#", id: "reset-button", phx_click: "reset", phx_target: @myself, class: "btn btn-warning" do %>
        <i class="align-middle text-xl la la-reply"></i> reset
      <% end %>
    <% end %>
  </Actions.box>
</div>
