<.main_title>Counter</.main_title>

<div class="flex items-center mt-12">
  <div class="flex space-x-2 mr-16">
    <.digit id="digit-100" digit="100" value={@digits.digit_100} />
    <.digit id="digit-10" digit="10" value={@digits.digit_10} />
    <.digit id="digit-1" digit="1" value={@digits.digit_1} />
  </div>

  <.action_buttons current_user={@current_user} started={@started} />
</div>
