<h3>Create a new Grid</h3>
<%= form_for :grid, "#", [phx_submit: :create], fn _f -> %>
  <%= text_input :grid, :size, type: :number, placeholder: "size of grid, eg. 10", size: 5 %>
  <%= submit "Create" %>
<% end %>
