<h1>Game of Life</h1>

<%= unless @grid do %>
  <%= if can?(@current_user, :create, GameOfLife) do %>
    <%= render "form.html", changeset: @changeset %>
  <% else %>
    <p>There's currently no simulation available.</p>
  <% end %>
<% else %>
  <%= render "grid.html", current_user: @current_user, grid: @grid, label_sim_start: @label_sim_start %>
<% end %>
