<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thundermoon</title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={~p"/assets/app.js"}
    >
    </script>
    <%= csrf_meta_tag() %>
  </head>
  <body class="bg-gray-900 text-white flex flex-col min-h-screen">
    <%= render("header.html", conn: @conn) %>
    <main role="main" class="container mx-auto mb-8">
      <%= @inner_content %>
    </main>
    <footer class="bg-gray-800 border-black mt-auto py-8">
      <div class="container mx-auto">
        <%= link to: "https://github.com/grrrisu/thundermoon-umbrella" do %>
          Github <i class="la la-2x la-github align-middle"></i>
        <% end %>
      </div>
    </footer>
  </body>
</html>
