<div>
  <h3>Create a new Grid</h3>
  <.form
    :let={f}
    for={@changeset}
    class="w-2/4"
    phx-target={@myself}
    phx-change={:validate}
    phx-submit={:create}
  >
    <div class="flex">
      <.text_input field={f[:size]} type="number" placeholder="size of grid, eg. 10" />
      <div>
        <%= submit("Create", class: "btn btn-primary ml-3") %>
      </div>
    </div>
  </.form>
</div>
