<div id="grid" style="grid-template-columns: repeat(<%= @width %>, 20px); grid-template-rows: repeat(<%= @height %>, 20px); width: <%= @width * 20 + 1 %>px">
  <%= for x <- 0..(@width - 1) do %>
    <%= for y <- 0..(@height - 1) do %>
      <div class="cell <%= cell_class(@grid, x, y) %>" phx-click="toggle-cell" phx-value-x="<%= x %>" phx-value-y="<%= y %>" phx-target="<%= @myself %>"></div>
    <% end %>
  <% end %>
</div>
