<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Thundermoon" %></h1>
  <p>some sim examples</p>
</section>

<section class="row">
  <article class="column">

  </article>
</section>
