<h1>Lotka Volterra</h1>

<div>
  Vegetation: <%= @vegetation.size %>
</div>

<div>
  <a href="#" phx-click="create" class="button button-icon button-warning">
    <i class="la la-2x la-reply-all"></i> create
  </a>

  <%= live_component @socket, ThundermoonWeb.Component.StartButton, started: @started %>
</div>
