<h1>Lotka Volterra</h1>

<div id="chart-container" phx-update="ignore">
  <canvas id="chart" phx-hook="LotkaVolterraChart" width="400" height="200"></canvas>
</div>

<div>
  <%= live_component @socket, ThundermoonWeb.Component.StartButton, started: @started %>
</div>
